<!-- row -->
<div class="row">
    <!-- col education and certifications -->
    <div class="col-lg-6">
        <!-- section title -->
        <div class="art-section-title">
            <!-- title frame -->
            <div class="art-title-frame">
                <!-- title -->
                <h4>Education and Certifications</h4>
            </div>
            <!-- title frame end -->
        </div>
        <!-- section title end -->

        <!-- timeline -->
        <div class="art-timeline art-gallery" id="history">
            <div class="art-timeline-item">
                <div class="art-timeline-mark-light"></div>
                <div class="art-timeline-mark"></div>
                <div class="art-a art-timeline-content">
                    <div class="art-card-header">
                        <div class="art-left-side">
                            <h5>Bachelor's degree on Computer Science and Technology</h5>
                            <div class="art-el-suptitle mb-15">
                                Monterrey Institute of Technology and Higher Education
                            </div>
                        </div>
                        <div class="art-right-side">
                            <span class="art-date">January 2017 - December 2021</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="art-timeline-item">
                <div class="art-timeline-mark-light"></div>
                <div class="art-timeline-mark"></div>
                <div class="art-a art-timeline-content">
                    <div class="art-card-header">
                        <div class="art-left-side">
                            <h5>Professional Web Design</h5>
                            <div class="art-el-suptitle mb-15">Udemy</div>
                        </div>
                        <div class="art-right-side">
                            <span class="art-date">October 2020 - No expiration date</span>
                        </div>
                    </div>
                    <a data-fancybox="diplome" href="files/certifications/udemy/DisenioWebProfesional.pdf"
                        class="art-link art-color-link art-w-chevron">Certificate</a>
                </div>

            </div>

            <div class="art-timeline-item">
                <div class="art-timeline-mark-light"></div>
                <div class="art-timeline-mark"></div>
                <div class="art-a art-timeline-content">
                    <div class="art-card-header">
                        <div class="art-left-side">
                            <h5>High-Impact Business Writing</h5>
                            <div class="art-el-suptitle mb-15">Coursera</div>
                        </div>
                        <div class="art-right-side">
                            <span class="art-date">April 2021 - No expiration date</span>
                        </div>
                    </div>
                    <a data-fancybox="diplome" href="files/certifications/coursera/HighImpactBusinessWriting.pdf"
                        class="art-link art-color-link art-w-chevron">Certificate</a>
                </div>

            </div>

            <div class="art-timeline-item">
                <div class="art-timeline-mark-light"></div>
                <div class="art-timeline-mark"></div>
                <div class="art-a art-timeline-content">
                    <div class="art-card-header">
                        <div class="art-left-side">
                            <h5>Python for advanced data scientist</h5>
                            <div class="art-el-suptitle mb-15">Template author</div>
                        </div>
                        <div class="art-right-side">
                            <span class="art-date">June 2021 - No expiration date</span>
                        </div>
                    </div>
                    <a data-fancybox="diplome" href="files/certifications/linkedin/PythonDataScientistAvanzado.pdf"
                        class="art-link art-color-link art-w-chevron">Certificate</a>
                </div>

            </div>

        </div>
        <!-- timeline end -->
    </div>
    <!-- col end -->

    <!-- col work history -->
    <div class="col-lg-6">
        <!-- section title -->
        <div class="art-section-title">
            <!-- title frame -->
            <div class="art-title-frame">
                <!-- title -->
                <h4>Work History</h4>
            </div>
            <!-- title frame end -->
        </div>
        <!-- section title end -->

        <!-- timeline -->
        <div class="art-timeline">

            <div class="art-timeline-item">
                <div class="art-timeline-mark-light"></div>
                <div class="art-timeline-mark"></div>
                <div class="art-a art-timeline-content">
                    <div class="art-card-header">
                        <div class="art-left-side">
                            <h5>KNAUF México</h5>
                            <div class="art-el-suptitle mb-15">Warehouse General Assistant</div>
                        </div>
                        <div class="art-right-side">
                            <span class="art-date">June 2017 - August 2017</span>
                        </div>
                    </div>
                    <p>Generate reports of equipment and tools inputs and outputs and updating of excel databases.
                    </p>
                </div>
            </div>

            <div class="art-timeline-item">
                <div class="art-timeline-mark-light"></div>
                <div class="art-timeline-mark"></div>
                <div class="art-a art-timeline-content">
                    <div class="art-card-header">
                        <div class="art-left-side">
                            <h5>Bitamina Digital</h5>
                            <div class="art-el-suptitle mb-15">Web Developer</div>
                        </div>
                        <div class="art-right-side">
                            <span class="art-date">April 2019 - August 2019</span>
                        </div>
                    </div>
                    <p>Established a new work scheme focused on reducing the work hours the development team
                        should work to finish the projects using Scrum as the main methodology and different
                        technologies such as Git and GitLab.
                        <br><br>
                        Usage of technologies such as PhP, MySQL, HTML5, CSS3 and JavaScript to develop and maintain
                        various projects, ranging from static web pages to administrative sites.</p>
                    <!-- href="#art-recomendation-popup-1 --->
                    <a data-fancybox="recommendation" href="files/recommendations/BitaminaDigital.pdf"
                        class="art-link art-color-link art-w-chevron">Recommendation</a>
                </div>

                <!-- popup recommendation
                <div class="art-recomendation-popup" style="display: none;" id="art-recomendation-popup-1">
                    <div class="art-a art-testimonial">
                        <div class="testimonial-body">
                            <img class="art-testimonial-face" src="img/testimonials/face-3.jpg" alt="face">
                            <h5>Paul Trueman</h5>
                            <div class="art-el-suptitle mb-15">Template author</div>
                            <div class="mb-15">Working with Artur has been a pleasure. Better yet - I alerted them of
                                a minor issue before going to sleep. The issue was fixed the next morning. I couldn't
                                ask for better support. Thank you Artur!
                                This is easily a 5 star freelancer.</div>
                        </div>
                        <div class="art-testimonial-footer">
                            <div class="art-left-side">
                                <ul class="art-star-rate">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                            </div>
                            <div class="art-right-side">
                            </div>
                        </div>
                    </div>
                </div>
                popup recommendation end -->
            </div>

            <div class="art-timeline-item">
                <div class="art-timeline-mark-light"></div>
                <div class="art-timeline-mark"></div>

                <div class="art-a art-timeline-content">
                    <div class="art-card-header">
                        <div class="art-left-side">
                            <h5>Monterrey Institute of Technology and Higher Education</h5>
                            <div class="art-el-suptitle mb-15">Software Engineer</div>
                        </div>
                        <div class="art-right-side">
                            <span class="art-date">August 2019 – December 2019</span>
                        </div>
                    </div>
                    <p>Development of software solutions for "International Foods Control" and "Rescate 1
                        Querétaro" using technologies such as Django, React Native and PostgreSQL.
                        <br><br>
                        Usage of software engineering processes based on Disciplined Agile Delivery, Capability
                        Maturity Model Integration and PMBOK.
                        <br><br>
                        Different roles performed during iterations such as Product Owner (mainly), Architecture
                        Owner and Team Member.
                    </p>
                    <a data-fancybox="recommendation" href="files/recommendations/SemestreI.pdf"
                        class="art-link art-color-link art-w-chevron">Recommendation</a>
                </div>
            </div>

            <div class="art-timeline-item">
                <div class="art-timeline-mark-light"></div>
                <div class="art-timeline-mark"></div>

                <div class="art-a art-timeline-content">
                    <div class="art-card-header">
                        <div class="art-left-side">
                            <h5>Natgas México</h5>
                            <div class="art-el-suptitle mb-15">Software Engineer Trainee</div>
                        </div>
                        <div class="art-right-side">
                            <span class="art-date">November 2019 – March 2020</span>
                        </div>
                    </div>
                    <p>Software solution developed using technologies like Cloud Firestore, GraphQL, Angular 10,
                        Apollo Link and Ionic as well as Disciplined Agile Delivery and Capability Maturity Model
                        Integration for project management.</p>
                </div>
            </div>

            <div class="art-timeline-item">
                <div class="art-timeline-mark-light"></div>
                <div class="art-timeline-mark"></div>

                <div class="art-a art-timeline-content">
                    <div class="art-card-header">
                        <div class="art-left-side">
                            <h5>Freelance</h5>
                            <div class="art-el-suptitle mb-15">Web and Mobile Developer</div>
                        </div>
                        <div class="art-right-side">
                            <span class="art-date">May 2020 – February 2021</span>
                        </div>
                    </div>
                    <p>Software solutions developed using technologies like Firebase, Angular 6, React Js,
                        MongoDB, Docker as well as concepts for project management.</p>
                </div>
            </div>

        </div>
        <!-- timeline end -->
    </div>
    <!-- col end -->
</div>
<!-- row end -->