<!-- row -->
<div class="row">
    <!-- col title -->
    <div class="col-lg-12">
        <!-- section title -->
        <div class="art-section-title">
            <!-- title frame -->
            <div class="art-title-frame">
                <!-- title -->
                <h4>My knowledge </h4>
            </div>
            <!-- title frame end -->
        </div>
        <!-- section title end -->
    </div>
    <!-- col end -->

    <!-- col web -->
    <div class="col-12">
        <!-- service -->
        <div class="art-a art-service-icon-box">
            <!-- service content -->
            <div class="art-service-ib-content">
                <!-- title -->
                <h5 class="mb-15">Web Development</h5>
                <!-- text -->
                <div class="mb-15 text-justify">
                    Since high school where I chose the programming branch, I started learning about the basics of web
                    development (HTML, CSS and JavaScript).
                    <br /><br />
                    Once in the university I had the opportunity to complete my social service by developing software
                    for some organizations. We were in charge of the projects, which were based mainly on web, to
                    automatize their workflow .
                    <br /><br />
                    Furthermore, I have worked in different companies where I developed software using technologies
                    focused on web development.
                    <br /><br />
                    So far I have experience on technologies like Angular, React Js, PhP, Django, MongoDB, MySQL,
                    PostgreSQL, GraphQL, JavaScript and TypeScript.
                </div>
            </div>
            <!-- service content end -->
        </div>
        <!-- service end -->
    </div>
    <!-- col web end -->

    <!-- col pm -->
    <div class="col-12">
        <!-- service -->
        <div class="art-a art-service-icon-box">
            <!-- service content -->
            <div class="art-service-ib-content">
                <!-- title -->
                <h5 class="mb-15">Project management</h5>
                <!-- text -->
                <div class="mb-15 text-justify">
                    Something I am very pleased with my university is the way they approach my career, focusing into
                    developing good software engineers instead of just programmers. I have taken multiple subjects about
                    project management, or even in classes that do not focus on that, they required us to deliver our
                    projects with high standards in project management.
                    <br /><br />
                    Also, througout the many professional experiences I have had, I polished my skills on this subject,
                    thanks to the guidance of many capable engineers and students.
                    <br /><br />
                    So far I have experience on Disciplined Agile Delivery, PMBOK and Capability Maturity Model concepts
                    as well as methodologies such as Scrum or Cascade. Also I have used technologies for monitoring and
                    tracking of projects like Atlassian JIRA Software, JetBrains YouTrack and Trello.
                </div>
            </div>
            <!-- service content end -->
        </div>
        <!-- service end -->
    </div>
    <!-- col pm end -->

    <!-- col ml -->
    <div class="col-12">
        <!-- service -->
        <div class="art-a art-service-icon-box">
            <!-- service content -->
            <div class="art-service-ib-content">
                <!-- title -->
                <h5 class="mb-15">Machine Learning</h5>
                <!-- text -->
                <div class="mb-15 text-justify">
                    At my university, I took two courses related to this field:
                    <br /><br />
                    <ul class="mb-0">
                        <li>Intelligent Systems (required)</li>
                        <li>Intelligent Systems Technologies (optional)</li>
                    </ul>
                    <br />
                    In both of them I succeeded with a final grade of 97.
                    <br /><br />
                    As consequence, I was able to aquire knowledge about machine learning and artificial intelligence,
                    in which I learned topics such as:
                    <br /><br />
                    Supervised learning and Unsupervised Learning, Overfitting and Underfitting, Gradient descent,
                    Classification and Regression, Decision trees, Entropy, Clustering algorithms, K means, Agents
                    Architectures, Heuristic Functions, Datasets, hypothesis, costs, Non linearity Bias, Variance,
                    Regularization, Convolution, Data Augmentation and Deep Learning.
                    <br /><br />
                    Although I'm no expert in this field, I know the basics and some other useful things, thanks to
                    several interesting projects I developed, some of which you can see in more detail below.
                </div>
            </div>
            <!-- service content end -->
        </div>
        <!-- service end -->
    </div>
    <!-- col ml end -->
</div>
<!-- row end -->