<!-- row -->
<div class="row">
    <!-- col title -->
    <div class="col-lg-12">
        <!-- section title -->
        <div class="art-section-title">
            <!-- title frame -->
            <div class="art-title-frame">
                <!-- title -->
                <h4>Newsletter</h4>
            </div>
            <!-- title frame end -->
        </div>
        <!-- section title end -->
    </div>
    <!-- col title end -->

    <!-- col content -->
    <div class="col-lg-12">
        <!-- slider container -->
        <div class="swiper-container art-blog-slider" style="overflow: visible">
            <!-- slider wrapper -->
            <div class="swiper-wrapper">

                <!-- slide -->
                <div class="swiper-slide">
                    <!-- blog post card -->
                    <div class="art-a art-blog-card">
                        <!-- post cover -->
                        <a href="#" class="art-port-cover">
                            <!-- img -->
                            <img src="img/projects/chatbot/2.jpg" alt="blog post">
                        </a>
                        <!-- post cover end -->
                        <!-- post description -->
                        <div class="art-post-description">
                            <!-- title -->
                            <a href="#">
                                <h5 class="mb-15">Build a Python Chatbot using Keras & NLTK</h5>
                            </a>
                            <!-- text -->
                            <div class="mb-15">Through this tutorial, you will build a Chatbot capable of responding
                                some of your messages after learning certain patterns the user can introduce. You
                                require good python programming skills and basic knowledge about neural networks and
                                deep learning.</div>
                            <!-- link -->
                            <a href="https://a01701804.medium.com/build-a-python-chatbot-using-keras-nltk-db19eea77f74"
                                class="art-link art-color-link art-w-chevron" target="_blank">Read more</a>
                        </div>
                        <!-- post description end -->
                    </div>
                    <!-- blog post card end -->
                </div>
                <!-- slide end -->

                <!-- slide -->
                <div class="swiper-slide">
                    <!-- blog post card -->
                    <div class="art-a art-blog-card">
                        <!-- post cover -->
                        <a href="#." class="art-port-cover">
                            <!-- img -->
                            <img src="img/projects/logisticregression/1.jpg" alt="blog post">
                        </a>
                        <!-- post cover end -->
                        <!-- post description -->
                        <div class="art-post-description">
                            <!-- title -->
                            <a href="#.">
                                <h5 class="mb-15">Using Logistic Regression for Image Classification</h5>
                            </a>
                            <!-- text -->
                            <div class="mb-15">Through this tutorial, you will develop and train a model that is able to
                                take the pixel values of a digit and identify if it is an image of the digit one or not.
                            </div>
                            <!-- link -->
                            <a href="https://a01701804.medium.com/using-logistic-regression-for-image-classification-c4b1aec2f4ed"
                                class="art-link art-color-link art-w-chevron" target="_blank">Read more</a>
                        </div>
                        <!-- post description end -->
                    </div>
                    <!-- blog post card end -->
                </div>
                <!-- slide end -->

                <!-- slide -->
                <div class="swiper-slide">
                    <!-- blog post card -->
                    <div class="art-a art-blog-card">
                        <!-- post cover -->
                        <a href="#." class="art-port-cover">
                            <!-- img -->
                            <img src="img/projects/starcraft2/2.jpg" alt="blog post">
                        </a>
                        <!-- post cover end -->
                        <!-- post description -->
                        <div class="art-post-description">
                            <!-- title -->
                            <a href="#.">
                                <h5 class="mb-15">Reinforcement Learning Terran Agent with PySC2 2.0 framework
                                </h5>
                            </a>
                            <!-- text -->
                            <div class="mb-15">Through this tutorial, you will build a Smart Terran Agent capable of
                                learning to develop a better strategy over time through a reward system based on the
                                actions it tooks and the state resulting from those.</div>
                            <!-- link -->
                            <a href="https://a01701804.medium.com/build-a-reinforcement-learning-terran-agent-with-pysc2-2-0-framework-c6be51b13d48"
                                class="art-link art-color-link art-w-chevron" target="_blank">Read more</a>
                        </div>
                        <!-- post description end -->
                    </div>
                    <!-- blog post card end -->
                </div>
                <!-- slide end -->

            </div>
            <!-- slider wrapper end -->
        </div>
        <!-- slider container end -->

    </div>
    <!-- col content end -->

    <!-- col nav -->
    <div class="col-lg-12">
        <!-- slider navigation -->
        <div class="art-slider-navigation">
            <!-- left side -->
            <div class="art-sn-left">
                <!-- slider pagination -->
                <div class="swiper-pagination"></div>
            </div>
            <!-- left side end -->
            <!-- right side -->
            <div class="art-sn-right">
                <!-- slider navigation -->
                <div class="art-slider-nav-frame">
                    <!-- prev -->
                    <div class="art-slider-nav art-blog-swiper-prev"><i class="fas fa-chevron-left"></i></div>
                    <!-- next -->
                    <div class="art-slider-nav art-blog-swiper-next"><i class="fas fa-chevron-right"></i></div>
                </div>
                <!-- slider navigation -->
            </div>
            <!-- right side end -->
        </div>
        <!-- slider navigation end -->
    </div>
    <!-- col nav end -->
</div>
<!-- row end -->