<!-- row -->
<div class="row p-30-0">
    <!-- col filters -->
    <div class="col-lg-12">
        <!-- section title -->
        <div class="art-section-title">
            <!-- title frame -->
            <div class="art-title-frame">
                <!-- title -->
                <h4>Projects</h4>
            </div>
            <!-- title frame end -->
            <!-- right frame -->
            <div class="art-right-frame">
                <!-- filter -->
                <div class="art-filter">
                    <!-- filter link -->
                    <a href="#" data-filter="*" class="art-link art-current">All Categories</a>
                    <!-- filter link -->
                    <a href="#" data-filter=".webapps" class="art-link">Web Applications</a>
                    <!-- filter link -->
                    <a href="#" data-filter=".machinelearning" class="art-link">Machine Learning</a>
                    <!-- filter link -->
                    <a href="#" data-filter=".university" class="art-link">University</a>
                    <!-- filter link -->
                    <a href="#" data-filter=".clients" class="art-link">Real Clients</a>
                </div>
                <!-- filter end -->
            </div>
            <!-- right frame end -->
        </div>
        <!-- section title end -->
    </div>
    <!-- col filters end -->
    <!-- grid projects -->
    <div class="art-grid art-grid-3-col art-gallery">

        <!-- grid item chatbot -->
        <div class="art-grid-item machinelearning university">
            <!-- grid item frame -->
            <a data-fancybox="gallery" href="img/projects/chatbot/1.jpg"
                class="art-a art-portfolio-item-frame art-horizontal">
                <!-- Project Grid Structure art-vertical art-square -->
                <!-- img -->
                <img src="img/projects/chatbot/1.jpg" alt="item">
                <!-- zoom icon -->
                <span class="art-item-hover"><i class="fas fa-expand"></i></span>
            </a>
            <!-- grid item frame end -->
            <!-- description -->
            <div class="art-item-description">
                <!-- title -->
                <h5 class="mb-15">Deep Learning Chatbot</h5>
                <div class="mb-15">Python - Usage of a Deep Neural Network with Tensorflow and NLTK.</div>
                <!-- button -->
                <a href="projects/chatbot.html" class="art-link art-color-link art-w-chevron">Read more</a>
            </div>
            <!-- description end -->
        </div>
        <!-- grid item chatbot end -->

        <!-- grid item image classification -->
        <div class="art-grid-item machinelearning university">
            <!-- grid item frame -->
            <a data-fancybox="gallery" href="img/projects/logisticregression/2.jpg"
                class="art-a art-portfolio-item-frame art-horizontal">
                <!-- img -->
                <img src="img/projects/logisticregression/2.jpg" alt="item">
                <!-- zoom icon -->
                <span class="art-item-hover"><i class="fas fa-expand"></i></span>
            </a>
            <!-- grid item frame end -->
            <!-- description -->
            <div class="art-item-description">
                <!-- title -->
                <h5 class="mb-15">Binary Image Classification</h5>
                <div class="mb-15">Python - Usage of Logistic Regression.</div>
                <!-- button -->
                <a href="projects/imageclassification.html" class="art-link art-color-link art-w-chevron">Read more</a>
            </div>
            <!-- description end -->
        </div>
        <!-- grid item image classification end -->

        <!-- grid item starcrft agent -->
        <div class="art-grid-item machinelearning university">
            <!-- grid item frame -->
            <a data-fancybox="gallery" href="img/projects/starcraft2/1.jpg"
                class="art-a art-portfolio-item-frame art-horizontal">
                <!-- img -->
                <img src="img/projects/starcraft2/1.jpg" alt="item">
                <!-- zoom icon -->
                <span class="art-item-hover"><i class="fas fa-expand"></i></span>
            </a>
            <!-- grid item frame end -->
            <!-- description -->
            <div class="art-item-description">
                <!-- title -->
                <h5 class="mb-15">Reinforcement Learning Starcraft Agent</h5>
                <div class="mb-15">Python - Usage of psyc2 framework and Q-Learning Table</div>
                <!-- button -->
                <a href="projects/starcraft2.html" class="art-link art-color-link art-w-chevron">Read more</a>
            </div>
            <!-- description end -->
        </div>
        <!-- grid item starcrft agent end -->

        <!-- grid item natgas -->
        <div class="art-grid-item clients webapps">
            <!-- grid item frame -->
            <a data-fancybox="gallery" href="img/projects/natgasreferidos/1.jpg"
                class="art-a art-portfolio-item-frame art-horizontal">
                <!-- img -->
                <img src="img/projects/natgasreferidos/1.jpg" alt="item">
                <!-- zoom icon -->
                <span class="art-item-hover"><i class="fas fa-expand"></i></span>
            </a>
            <!-- grid item frame end -->
            <!-- description -->
            <div class="art-item-description">
                <!-- title -->
                <h5 class="mb-15">Natgas Referidos</h5>
                <div class="mb-15">TypeScript - Usage of Cloud Firestore, GraphQL, Angular 10,
                    Apollo Link and Ionic Framework.</div>
                <!-- button -->
                <a href="projects/natgas.html" class="art-link art-color-link art-w-chevron">Read more</a>
            </div>
            <!-- description end -->
        </div>
        <!-- grid item natgas end -->

        <!-- grid item gallery -->
        <div class="art-grid-item university">
            <!-- grid item frame -->
            <a data-fancybox="gallery" href="img/projects/gallery/1.jpg"
                class="art-a art-portfolio-item-frame art-horizontal">
                <!-- img -->
                <img src="img/projects/gallery/1.jpg" alt="item">
                <!-- zoom icon -->
                <span class="art-item-hover"><i class="fas fa-expand"></i></span>
            </a>
            <!-- grid item frame end -->
            <!-- description -->
            <div class="art-item-description">
                <!-- title -->
                <h5 class="mb-15">Gallery</h5>
                <div class="mb-15">Unity - 3D Video game inspired by P.T Silent Hill.</div>
                <!-- button -->
                <a href="projects/gallery.html" class="art-link art-color-link art-w-chevron">Read more</a>
            </div>
            <!-- description end -->
        </div>
        <!-- grid item gallery end -->

        <!-- grid item multithread java -->
        <div class="art-grid-item university">
            <!-- grid item frame -->
            <a data-fancybox="gallery" href="img/projects/multithreading/3.jpg"
                class="art-a art-portfolio-item-frame art-horizontal">
                <!-- img -->
                <img src="img/projects/multithreading/3.jpg" alt="item">
                <!-- zoom icon -->
                <span class="art-item-hover"><i class="fas fa-expand"></i></span>
            </a>
            <!-- grid item frame end -->
            <!-- description -->
            <div class="art-item-description">
                <!-- title -->
                <h5 class="mb-15">Multithreading Java Video Game</h5>
                <div class="mb-15">Java - Usage of socket programming and design patterns.</div>
                <!-- button -->
                <a href="projects/multithread.html" class="art-link art-color-link art-w-chevron">Read more</a>
            </div>
            <!-- description end -->
        </div>
        <!-- grid item multithread java end -->

        <!-- grid item nok -->
        <div class="art-grid-item clients webapps">
            <!-- grid item frame -->
            <a data-fancybox="gallery" href="img/projects/nok/1.jpg"
                class="art-a art-portfolio-item-frame art-horizontal">
                <!-- img -->
                <img src="img/projects/nok/1.jpg" alt="item">
                <!-- zoom icon -->
                <span class="art-item-hover"><i class="fas fa-expand"></i></span>
            </a>
            <!-- grid item frame end -->
            <!-- description -->
            <div class="art-item-description">
                <!-- title -->
                <h5 class="mb-15">Nok</h5>
                <div class="mb-15">TypeScript - Usage of Angular, Ionic Framework and Firebase Console</div>
                <!-- button -->
                <a href="projects/nok.html" class="art-link art-color-link art-w-chevron">Read more</a>
            </div>
            <!-- description end -->
        </div>
        <!-- grid item nok end -->

        <!-- grid item perfilcovid -->
        <div class="art-grid-item clients webapps">
            <!-- grid item frame -->
            <a data-fancybox="gallery" href="img/projects/perfilcovid/1.jpg"
                class="art-a art-portfolio-item-frame art-horizontal">
                <!-- img -->
                <img src="img/projects/perfilcovid/1.jpg" alt="item">
                <!-- zoom icon -->
                <span class="art-item-hover"><i class="fas fa-expand"></i></span>
            </a>
            <!-- grid item frame end -->
            <!-- description -->
            <div class="art-item-description">
                <!-- title -->
                <h5 class="mb-15">Perfil COVID-19</h5>
                <div class="mb-15">JavaScript - Usage of React JS, MongoDB and Docker</div>
                <!-- button -->
                <a href="projects/perfilcovid.html" class="art-link art-color-link art-w-chevron">Read more</a>
            </div>
            <!-- description end -->
        </div>
        <!-- grid item perfilcovid end -->

        <!-- grid item silieri -->
        <div class="art-grid-item webapps clients">
            <!-- grid item frame -->
            <a data-fancybox="gallery" href="img/projects/silieri/1.jpg"
                class="art-a art-portfolio-item-frame art-horizontal">
                <!-- img -->
                <img src="img/projects/silieri/1.jpg" alt="item">
                <!-- zoom icon -->
                <span class="art-item-hover"><i class="fas fa-expand"></i></span>
            </a>
            <!-- grid item frame end -->
            <!-- description -->
            <div class="art-item-description">
                <!-- title -->
                <h5 class="mb-15">Silieri Koncept</h5>
                <div class="mb-15">PHP - Usage of HTML5, CSS3 and JQuery.</div>
                <!-- button -->
                <a href="../projects/silieri.html" class="art-link art-color-link art-w-chevron">Read more</a>
            </div>
            <!-- description end -->
        </div>
        <!-- grid item silieri end -->

        <!-- grid item simbiosis -->
        <div class="art-grid-item clients webapps">
            <!-- grid item frame -->
            <a data-fancybox="gallery" href="img/projects/simbiosis/1.jpg"
                class="art-a art-portfolio-item-frame art-horizontal">
                <!-- img -->
                <img src="img/projects/simbiosis/1.jpg" alt="item">
                <!-- zoom icon -->
                <span class="art-item-hover"><i class="fas fa-expand"></i></span>
            </a>
            <!-- grid item frame end -->
            <!-- description -->
            <div class="art-item-description">
                <!-- title -->
                <h5 class="mb-15">Simbiosis</h5>
                <div class="mb-15">JavaScript - Usage of React JS</div>
                <!-- button -->
                <a href="projects/simbiosis.html" class="art-link art-color-link art-w-chevron">Read more</a>
            </div>
            <!-- description end -->
        </div>
        <!-- grid item simbiosis end -->

        <!-- grid item calendar -->
        <div class="art-grid-item university webapps">
            <!-- grid item frame -->
            <a data-fancybox="gallery" href="img/projects/calendar/2.png"
                class="art-a art-portfolio-item-frame art-horizontal">
                <!-- img -->
                <img src="img/projects/calendar/2.png" alt="item">
                <!-- zoom icon -->
                <span class="art-item-hover"><i class="fas fa-expand"></i></span>
            </a>
            <!-- grid item frame end -->
            <!-- description -->
            <div class="art-item-description">
                <!-- title -->
                <h5 class="mb-15">Task Calendar</h5>
                <div class="mb-15">Python - Usage of Django and PostgreSQL</div>
                <!-- button -->
                <a href="projects/calendar.html" class="art-link art-color-link art-w-chevron">Read more</a>
            </div>
            <!-- description end -->
        </div>
        <!-- grid item calendar end -->

    </div>
    <!-- grid projects end -->
</div>
<!-- row end -->