<!-- row -->
<div class="row">
    <!-- col title -->
    <div class="col-lg-12">
        <!-- section title -->
        <div class="art-section-title">
            <!-- title frame -->
            <div class="art-title-frame">
                <!-- title -->
                <h4>Recommendations</h4>
            </div>
            <!-- title frame end -->
        </div>
        <!-- section title end -->
    </div>
    <!-- col title end -->

    <!-- col recoms -->
    <div class="col-lg-12">
        <!-- slider container -->
        <div class="swiper-container art-testimonial-slider" style="overflow: visible">
            <!-- slider wrapper -->
            <div class="swiper-wrapper">

                <!-- slide javi -->
                <div class="swiper-slide">
                    <!-- testimonial -->
                    <div class="art-a art-testimonial">
                        <!-- testimonial body -->
                        <div class="testimonial-body">
                            <!-- photo -->
                            <img class="art-testimonial-face" src="img/testimonials/javier.jfif" alt="face">
                            <!-- name -->
                            <h5>Javier Rodriguez</h5>
                            <div class="art-el-suptitle mb-15">Program Manager at Wizeline</div>
                            <!-- text -->
                            <div class="mb-15">Arturo has worked with me as a freelancer for several successful
                                projects in the past year and a half.
                                He's a well organized hyper achiever always looking for a challenge, ready to take a
                                problem up front and capable of learning anything that comes his way.
                                He has shown great coding ability on multiple paradigms and I'm sure he will excel at
                                any task he sets his mind to.</div>
                        </div>
                        <!-- testimonial body end -->
                        <!-- testimonial footer
                        <div class="art-testimonial-footer">
                            <div class="art-left-side">
                                <ul class="art-star-rate">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li class="art-empty-item"><i class="fas fa-star"></i></li>
                                </ul>
                            </div>
                            <div class="art-right-side">
                                June 24, 2021
                            </div>
                        </div>
                        testimonial footer end -->
                    </div>
                    <!-- testimonial end -->
                </div>
                <!-- slide javi end -->

                <!-- slide alejandro -->
                <div class="swiper-slide">
                    <!-- testimonial -->
                    <div class="art-a art-testimonial">
                        <!-- testimonial body -->
                        <div class="testimonial-body">
                            <!-- photo -->
                            <img class="art-testimonial-face" src="img/testimonials/alejandro.jfif" alt="face">
                            <!-- name -->
                            <h5>Alejandro Gleason Méndez</h5>
                            <div class="art-el-suptitle mb-15">Software Engineering Intern at Bloomberg LP | Incoming
                                SWE Intern at Facebook</div>
                            <!-- text -->
                            <div class="mb-15">I had the opportunity to share several classes at Tec with Arturo and I
                                can say that he is an honorable, dedicated and focused student. I could say that he is
                                very skilled in OOP but always open to any other paradigm or task, I do admire his
                                desire to keep learning (and sharing what he learns) as well as embracing with
                                excitement new challenges. Would love to work with him again!</div>
                        </div>
                        <!-- testimonial body end -->
                    </div>
                    <!-- testimonial end -->
                </div>
                <!-- slide alejandro end -->

                <!-- slide emmanuel -->
                <div class="swiper-slide">
                    <!-- testimonial -->
                    <div class="art-a art-testimonial">
                        <!-- testimonial body -->
                        <div class="testimonial-body">
                            <!-- photo -->
                            <img class="art-testimonial-face" src="img/testimonials/emmanuel.jfif" alt="face">
                            <!-- name -->
                            <h5>Emmanuel Antonio Ramírez Herrera</h5>
                            <div class="art-el-suptitle mb-15">Digital Team Lead en NUU Group</div>
                            <!-- text -->
                            <div class="mb-15">I've worked with him for several months, he is a skilled programmer that
                                loves to face several challenges and he always gives the best of him. He learns very
                                fast, is open minded and proactive to bring new development ideas.</div>
                        </div>
                        <!-- testimonial body end -->
                    </div>
                    <!-- testimonial end -->
                </div>
                <!-- slide emmanuel end -->

                <!-- slide erwin -->
                <div class="swiper-slide">
                    <!-- testimonial -->
                    <div class="art-a art-testimonial">
                        <!-- testimonial body -->
                        <div class="testimonial-body">
                            <!-- photo -->
                            <img class="art-testimonial-face" src="img/testimonials/erwin.jfif" alt="face">
                            <!-- name -->
                            <h5>Erwin Andrés Julián López</h5>
                            <div class="art-el-suptitle mb-15">Software Engineer at PSL Group</div>
                            <!-- text -->
                            <div class="mb-15">I had the pleasure to work with Juan in several projects, his ability to
                                solve problems and willing to share knowledge made a difference in our team, he has very
                                good leadership and programming skills, pretty sure he will be a very good asset in any
                                team.</div>
                        </div>
                        <!-- testimonial body end -->
                    </div>
                    <!-- testimonial end -->
                </div>
                <!-- slide erwin end -->

                <!-- slide raymundo -->
                <div class="swiper-slide">
                    <!-- testimonial -->
                    <div class="art-a art-testimonial">
                        <!-- testimonial body -->
                        <div class="testimonial-body">
                            <!-- photo -->
                            <img class="art-testimonial-face" src="img/testimonials/raymundo.jfif" alt="face">
                            <!-- name -->
                            <h5>Raymundo Romero Arenas</h5>
                            <div class="art-el-suptitle mb-15">Computer Science Student at Monterrey Institute of
                                Technology and Higher Education</div>
                            <!-- text -->
                            <div class="mb-15">Arturo has had various successful projects in the past year. In my time
                                working with him he showed a lot of coding abilities on multiple web frameworks and
                                thirst for challenges. I'm sure he will do a great job on any task he is given.</div>
                        </div>
                        <!-- testimonial body end -->
                    </div>
                    <!-- testimonial end -->
                </div>
                <!-- slide raymundo end -->

            </div>
            <!-- slider wrapper end -->
        </div>
        <!-- slider container end -->
    </div>
    <!-- col end -->
    <!-- col slider navigation -->
    <div class="col-lg-12">
        <!-- slider navigation -->
        <div class="art-slider-navigation">
            <!-- left side -->
            <div class="art-sn-left">
                <!-- slider pagination -->
                <div class="swiper-pagination"></div>
            </div>
            <!-- left side end -->
            <!-- right side -->
            <div class="art-sn-right">
                <!-- slider navigation -->
                <div class="art-slider-nav-frame">
                    <!-- prev -->
                    <div class="art-slider-nav art-testi-swiper-prev"><i class="fas fa-chevron-left"></i></div>
                    <!-- next -->
                    <div class="art-slider-nav art-testi-swiper-next"><i class="fas fa-chevron-right"></i></div>
                </div>
                <!-- slider navigation -->
            </div>
            <!-- right side end -->
        </div>
        <!-- slider navigation end -->
    </div>
    <!-- col end -->
</div>
<!-- row end -->